<section class="features-section container" >
  <div class="features_disc" >
      <h1>
        ویژگی های درگاه پرداخت زرین پال
      </h1>
      <p>درگاه پرداخت اینترنتی زرین‌پال، امکان مدیریت تراکنش‌های مالی در بستر وب را به راحتی امکان‌پذیر می‌کند و با پیاده‌سازی و اجرای راه‌کارهای هوشمندانه، باعث افزایش درصد تراکنش‌های موفق و سوددهی بیش‌تر می‌شود.</p>
  </div>
  <div class="features" >
    <div class="feature" id="feature1">
      <div class="feature_top">
        <div class="feature_icon" >
          <img src="./Assets/Images/verifiedIcon.svg" alt="">
        </div>
        <div class="feature_title" >
          <h1>ضمانت پرداخت</h1>
        </div>
      </div>
      <div class="feature_disc" >
        <p>درگاه پرداخت زرین‌پال، تجربه‌ی پرداخت اینترنتی آسان، سریع و امن را به مشتریان کسب و کارهای آنلاین هدیه می‌دهد.</p>
      </div>
    </div>
    <div class="feature" id="feature2">
      <div class="feature_top">
        <div class="feature_icon" >
          <img src="./Assets/Images/splite.svg" alt="">
        </div>
        <div class="feature_title" >
          <h1>مسیردهی هوشمند</h1>
        </div>
      </div>
      <div class="feature_disc" >
        <p>استانداردهای متفاوت زرین‌پال در بازه‌های زمانی مختلف، باعث می‌شود کاربران به بهترین درگاه پرداخت با بالاترین میزان تراکنش‌های موفق هدایت شوند.</p>
      </div>
    </div>
    <div class="feature" id="feature3">
      <div class="feature_top">
        <div class="feature_icon" >
          <img src="./Assets/Images/support.svg" alt="">
        </div>
        <div class="feature_title" >
          <h1>پشتیبانی ۲۴/۷</h1>
        </div>
      </div>
      <div class="feature_disc" >
        <p>هفت روزِ هفته، با پشتیبانی ۲۴ ساعته‌ی زرین‌پال، آماده‌ی پاسخ‌گویی و راهنمایی به کاربران هستیم.</p>
      </div>
    </div>
    <div class="feature" id="feature4">
      <div class="feature_top">
        <div class="feature_icon" >
          <img src="./Assets/Images/support.svg" alt="">
        </div>
        <div class="feature_title" >
          <h1>امنیتِ پرداخت</h1>
        </div>
      </div>
      <div class="feature_disc" >
        <p>درگاه امن زرین‌پال، ضمانتی برای امنیت اطلاعات بانکی افراد، هنگام پرداخت‌‌های اینترنتی آن‌هاست.</p>
      </div>
    </div>
  </div>
 </section>