<section class="footer-section container" >
    <div class="footer" >
      <div class="footer_links" >
        <div class="links_block" >
          <h1>محصولات</h1>
          <a href="#" >زرین لینک</a>
          <a href="#" >درگاه پرداخت انترنتی</a>
          <a href="#" >زرین کارت</a>
          <a href="#" >تسهیم</a>
        </div>
        <div class="links_block" >
          <h1>آشنایی با زرین پال</h1>
          <a href="#" >تعرفه ها</a>
          <a href="#" >درباره ما</a>
          <a href="#" >سوالات متداول</a>
          <a href="#" >همکاری در فروش</a>
        </div>
        <div class="links_block" >
          <h1>ارتباط بیشتر</h1>
          <a href="#" >تماس با ما</a>
          <a href="#" >قوانین و مقررات</a>
          <a href="#" >حریم خصوصی</a>
        </div>
        <div class="links_block" >
          <h1>منابع</h1>
          <a href="#" >دریافت شماره شبا</a>
          <a href="#" >زرین بین</a>
          <a href="#" >توسعه دهندگان</a>
          <a href="#" >وبلاگ</a>
          <a href="#" >سنجش رضایت مندی</a>

        </div>
      </div>
      <div class="footer_social" >
        <div>
          <h1>زرین پال در شبکه های اجتماعی:</h1>
        </div>
        <div class="social_icons">
          <div class="social_icon">
            <img src="./Assets/Images/001-twitter.png" alt="">
          </div>
          <div class="social_icon">
            <img src="./Assets/Images/002-instagram.png" alt="">
          </div>
          <div class="social_icon">
            <img src="./Assets/Images/004-telegram.png" alt="">
          </div>
          <div class="social_icon">
            <img src="./Assets/Images/005-linkedin.png" alt="">
          </div>
        </div>
      </div>
   </div>
  </section>