<section class="header container" >
    <div class="header-div">
      <div class="header_text">
        <h1 class="header_text_title" >بیش از 12 سال <br> انتخاب مطمئن کسب و کار های آنلاین</h1>
        <p>زرین‌پال، اولین پرداخت‌یار پیشگام کشور، با به‌کارگیری سبک و استانداردهای جدید در ارائه‌ی خدمات درگاه پرداخت اینترنتی، سرویس‌های متنوعی در حوزه‌ی پرداخت الکترونیک را برای کسب و کارها ارائه کرده است؛ با این هدف که در افزایش سهم تجارت الکترونیکی در تولید ناخالص ملی و کمک به رشد و توسعه‌ی کسب‌وکارها، نقش سازنده‌‌ای ایفا کند.</p>
        <button class="button_yellow" >ثبت نام</button>
        <button class="button_blue">ورود</button>
      </div>
      <div class="header_image" >
        <img src="./Assets/Images/home.svg" alt="">
      </div>
    </div>
  </section>