
    <section class="header container">
        <div class="header-text">
          <div class="header-title">
            <h1>
              زرین‌لینک <br />
              درگاه پرداختِ فروشگاه‌‌های مبتنی بر شبکه‌‌ی اجتماعی
            </h1>
          </div>
          <div class="header-details">
            <p>
              درگاه پرداختِ فروشگاه‌‌‌های مبتنی بر شبکه‌‌‌ی اجتماعی‌با استفاده از
              زرین‌‌‌لینک، به‌‌‌سادگی فرآیند فروش محصولات یا خدمات خود را در
              شبکه‌‌‌های اجتماعی یا وب‌‌‌سایت خود مدیریت کنید و فروش بیش‌‌‌تری
              داشته باشید.
            </p>
          </div>
          <div class="header-button">
            <button class="button_yellow">ساخت زرین لینک</button>
          </div>
        </div>
        <div class="header-image">
          <img src="./Assets/Images/zarinlink.svg" alt="" />
        </div>
      </section>