<section class="first-plan container">
    <div class="section-part" >
      <div class="first-plan_photo" >
        <img src="../Assets/Images/pg.svg" alt="">
      </div>
      <div class="first-plan_text" >
        <h2>درگاه پرداخت اینترنتی</h2>
        <h1>مهندسی شده برای رشد و فروش بیش‌تر</h1>
        <p>درگاه پرداخت زرین‌پال، با اتصالِ همزمان به درگاه‌های متنوع و معتبر بانکی(PSPها)،کاربران را به سریع‌ترین و مطمئن‌ترین درگاه بانکی منتقل می‌کند و به واسطه‌ی قابلیت مسیردهی هوشمند، باعث افزایش درصد تراکنش‌های موفق می‌شود.</p>
        <button class="button_yellow" >ساخت درگاه پرداخت</button>
        <button class="button_blue" >بیشتر بدانید</button>
      </div>
    </div>
  </section>

  <section class="first-plan container">
    <div class="section-part" >
      <div class="first-plan_text" >
        <h2>زرین لینک</h2>
        <h1>پرداخت در شبکه های اجتماعی</h1>
        <p>زرین‌لینک با مدیریت فرآیند فروش به روشی هوشمندانه و سریع، باعث افزایش فروش محصولات و خدمات، از طریق شبکه‌های اجتماعی یا وب‌سایت می‌شود.</p>
        <button class="button_yellow" >ساخت درگاه پرداخت</button>
        <button class="button_blue" >بیشتر بدانید</button>
      </div>
      <div class="second-plan_photo" >
        <img src="Assets/Images/social-image.svg" alt="">
      </div>
    </div>
  </section>

  <section class="first-plan container">
    <div class="section-part" >
      <div class="third-plan_photo" >
        <img src="Assets/Images/payout.svg" alt="">
      </div>
      <div class="first-plan_text" >
        <h2>تسهیم</h2>
        <h1>درگاه پرداخت اشتراکی</h1>
        <p>تسهیم بهترین روش برای مدیریت مالی کسب‌ و کارهای شراکتی است که به واسطه‌ی آن، درآمد حاصل از فروش محصولات یا خدمات، در سهم‌های ثابت یا متغیر میان شرکای تجاری تقسیم شده و به صورت جداگانه به حساب هر شخص واریز می‌‌شود.</p>
        <button class="button_yellow" >ساخت درگاه پرداخت</button>
        <button class="button_blue" >بیشتر بدانید</button>
      </div>
    </div>
  </section>